* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	height: 100%;
	
}

body{
	font-family: 'Bitter', serif;
font-size: 24px;
color: black;
}
section{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
	padding: 10px
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../images/WP_20180409_16_33_20_Pro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.name{
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	text-align: center;
	color: rgb(24, 27, 27);
	padding: 10px;
}

h2{
    font-size: 60px ;
    text-align: center;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0 !important;
	padding: 10px
}
section{
	width: 100%;
}
#we{
	display: flex;
	justify-content: flex-start;
	width: 100%;


  
}
.address{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-flow: row;
	padding: 10px;
	float: left;
	
}
 .info ul li{
	list-style: none;
	padding: 10px
 }
.map{

	float: right;
	padding: 10px
}
@media only screen and (min-width: 900px) {
	h1{
		font-family: 'ZCOOL KuaiLe', cursive;
		font-size: 130px !important;
	
	}
}
@media only screen and (max-width: 600px) {
	h1{
		margin: 30px;
		font-family: 'ZCOOL KuaiLe', cursive;
		font-size: 60px;
		
	}
	h2{
		font-size: 30px;
		text-align: center;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 30px;
		padding: 10px
	}
	body{
		font-size: 18px;
	}
	.name{
		margin: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: rgb(24, 27, 27);
		padding: 10px;
	}
	.address{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 10px;
		
		
	}
	#we{
		display: flex;
		justify-content: flex-start;
		width: 100%;
		height: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
	
	  
	}
	#we:hover{
		height: 100%;
		overflow: visible;
		white-space: normal;
	}

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.name{
		margin: 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: rgb(24, 27, 27);
		padding: 10px;
	}
	h1{
		
		font-family: 'ZCOOL KuaiLe', cursive;
		margin: 30px;
		font-size: 100px;
		
	}
	h2{
		font-size: 60px;
		text-align: center;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 30px;
		padding: 10px
	}
	#we{
		display: flex;
		justify-content: flex-start;
		width: 100%;
		height: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
	
	  
	}
	#we:hover{
		height: 100%;
		overflow: visible;
		white-space: normal;
	}
}




/*----- Nav -----*/
.toggle-nav {
	display:none;
}


@media screen and (min-width: 860px) {
	.menu {
	 width:100%; 
	padding:10px 18px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	border-radius:3px;
	background:#303030;
	}
}

.menu ul {
	display:inline-block;
}

.menu li {
	margin:0px 50px 0px 0px;
	float:left;
	list-style:none;
	font-size:17px;
}

.menu li:last-child {
	margin-right:0px;
}

.menu a {
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
	color:#777;
    transition:color linear 0.15s;
    text-decoration: none;
}

.menu a:hover, .menu .current-item a {
	text-decoration:none;
	color:#66a992;
}


@media screen and (max-width: 1150px) {
	.wrap {
		width:90%;
	}
}



@media screen and (max-width: 860px) {
	.menu {
		position:relative;
		display:inline-block;
	}

	.menu ul.active {
		display:none;
	}

	.menu ul {
		width:200px;
		position:absolute;
		top:120%;
		left:0px;
		padding:10px 18px;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#303030;
	}

	.menu ul:after {
		width:0px;
		height:0px;
		position:absolute;
		top:0%;
		left:22px;
		content:'';
		transform:translate(0%, -100%);
		border-left:7px solid transparent;
		border-right:7px solid transparent;
		border-bottom:7px solid #303030;
	}

	.menu li {
		margin:5px 0px 5px 0px;
		float:none;
		display:block;
	}

	.menu a {
		display:block;
	}

	.toggle-nav {
		padding:20px;
		
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#303030;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:#777;
		font-size:20px;
		transition:color linear 0.15s;
	}

	.toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:#66a992;
	}

}
/*galr*/

#catalog {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 1.5em auto;
   margin-bottom: 3.5em;
    justify-content: space-around;
}
.flower {
    display: flex;
    flex-direction: column;
    width: 254px;
    border: 2px solid #e1e1e1;
    margin: 1em;
    align-items: flex-end;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    
}
.flower>div>h2{
    margin: 5px;
}
.flower>div>input {
    width: 100px;
    text-align: end;
    margin: 5px;
    border-radius: 4px;
}
.flower>button{
    color: #FFF;
    background-color: rgb(37, 124, 29);
    border-color:rgb(40, 124, 32);
    margin: 10px auto;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 4px;
    width: 80%;
}
.flower>button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }

p {
    margin: .5em 2em;
    line-height: 1.5;
    letter-spacing: 1.7px;
    padding: 1em;
    color: #185168;
    font-weight: 600;
}
span {
    font-style: italic;
    font-weight: bold;
    color:  #0186bb;
}
a {
    text-decoration: none;
    color: #0186bb;
}
#total {
    display: inline-block;
    margin-left: 2em;
}
#submitAPurchase {
    width: 100%;
    background-color: #185168;
    color: white; 
}
footer{
	background-color: black;
	color: white;
	margin-bottom: 0px;
	height: 30px;
	font-size: 18px;
}

